<%= form_with(model: book_category, local: true) do |form| %>
  <% if book_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_category.errors.count, "error") %> prohibited this book_category from being saved:</h2>

      <ul>
      <% book_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= form.label :book_id %>
  <%= form.collection_select(:book_id, Book.all, :id, :title) %>
  </div>

  <div class="field">
  <%= form.label :category_id %>
  <%= form.collection_select(:category_id, Category.all, :id, :name) %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
