<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @log.user %>
</p>

<p>
  <strong>Description:</strong>
  <%= @log.description %>
</p>

<p>
  <strong>Book:</strong>
  <%= @log.book %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
